section {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.major-section {
    margin-top: 30px;
    border: 1px solid black;
}

.major-header {
    font-size: 30px;
}

#search-bar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#city-input {
    max-width: 500px;
    flex-grow: 1;
}

section {
    max-width: 70%;
}
