section {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.major-section {
    margin-top: 30px;
    border: 1px solid black;
}

.major-header {
    font-size: 30px;
}

.minor-header {
    font-size: 22px;
    font-style: italic;
}

#city-search {
    max-width: fit-content;
}

#city-results {
    max-width: 70%;
}

#city-input {
    min-width: 500px;
}