.major-section {
    margin: auto;
    text-align: center;
    padding: 10px;
    max-width: 70%;
    margin-top: 30px;
    border: 1px solid black;
}

.major-header {
    font-size: 20px;
}

#search-bar {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
}

#city-input {
    max-width: 500px;
    flex-grow: 1;
}

#current-weather-ui section {
    margin: 20px;
}

#city-icon-and-temp {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#city-temp {
    text-align: left;
}

#condition {
    border: 1px solid rgb(132, 132, 132);
    padding: 3px;
}

#city-stats {
    display: flex;
    justify-content: center;
}

#city-stats-table th {
    font-weight: normal;
    background-color: rgb(219, 251, 251);
}

#city-stats-table th, td {
   border: 1px solid black;
   padding: 7px;
}

#city-stats-table {
    border-collapse: collapse;
}

#unit-selection-bar {
    margin-bottom: 20px;
}
